@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monocraft';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Monocraft.ttf');
}
