---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { urlFromBase } from "../../lib/utils";

const posts: any = await Astro.glob("../posts/*.md");
const unique = [
  ...new Set(posts.map((post: any) => post.frontmatter.tags).flat()),
];
interface Props {
  tag: string;
}

const base = import.meta.env.BASE_URL;
---

<BaseLayout>
  <div class="text-2xl mb-16 text-stone-700 dark:text-stone-200">
    ▀█▀ ▅▀▅ ▐▅▚ ▄█▀
  </div>
  <div class="flex flex-wrap justify-center w-2/3 mx-auto gap-10">
    {
      unique.map((tag: any) => (
        <a
          href={urlFromBase(base, "tags/" + tag)}
          class="text-lg rounded-xl invert bg-white/65 dark:bg-black/60 px-2 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
        >
          #{tag}
        </a>
      ))
    }
  </div>
</BaseLayout>
