---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./post/*.md");
const pageTitle = "Noblog Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
</BaseLayout>
