---
import { urlFromBase } from "../../lib/utils";

interface Nvi {
  name: string;
  url: string;
}

const base = import.meta.env.BASE_URL;
const slogan = "⧚⧚⧚⧚⧚⧚⧚⧚";
const nvis: Nvi[] = [
  { name: "about", url: urlFromBase(base, "/") },
  { name: "blog", url: urlFromBase(base, "/blog") },
  // { name: "find", url: "/find" },
  // { name: "link", url: "/link" },
];
---

<div
  class="backdrop-blur-sm saturate-400 bg-stone-100/75 dark:bg-stone-900/25 fixed top-0 left-0 right-0 z-50 py-5"
>
  <div class="mx-auto max-w-screen-md px-8 flex flex-wrap justify-between">
    <div class="text-4xl text-stone-700 dark:text-stone-200">
      {slogan}
    </div>
    <div class="flex gap-4 items-end">
      {
        nvis.map((nvi) => (
          <a
            class="underline underline-offset-4  hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
            href={nvi.url}
          >
            {nvi.name}
          </a>
        ))
      }
    </div>
  </div>
</div>
