---
interface Nvi {
  name: string;
  url: string;
}

interface Props {
  nvi: Nvi;
}

const { nvi } = Astro.props;
---

<a
  class="flex justify-center items-center text-xl w-24 h-12 hover:text-slate-600"
  href={nvi.url}
>
  {nvi.name}
</a>
