---
import { urlFromBase } from "../../lib/utils";

const base = import.meta.env.BASE_URL;
---

<div
  class="flex flex-nowrap justify-center my-10 text-gray-400 dark:text-gray-300 text-light"
>
  <div class="whitespace-nowrap">© 2024 humbornjo :: based on&nbsp;</div>
  <a
    class="underline whitespace-nowrap"
    href="https://github.com/humbornjo/nobloger"
  >
    nobloger
  </a>
  &nbsp;::&nbsp;
  <a class="underline whitespace-nowrap" href={urlFromBase(base, "rss.xml")}
    >rss</a
  >
</div>
