---

---

<div class="flex justify-center mt-16 mb-10 text-gray-400 font-mono text-light">
  © 2023-2024 humbornjo :: based on&nbsp;
  <a class="underline" href="https://github.com/humbornjo/nobloger">
    nobloger
  </a>
  &nbsp;:: rss
</div>
