---
import Tag from "./Tag.astro";
import { Shuffle, LerpRand } from "./tag.ts";

interface Props {
  tags: string[];
}

const ROWS = 3;
const DURATION = 15000;

const { tags } = Astro.props;
const duration = LerpRand(DURATION - 5000, DURATION + 5000);
const tagsPerRow = Math.ceil(tags.length / ROWS);
const shuffledTags = Shuffle(tags);
---

<div class="tag-list">
  {
    [...new Array(ROWS)].map((_, i) => (
      <div
        class="loop-slider"
        style={{
          "--duration": `${duration}ms`,
          "--direction": i % 2 ? "reverse" : "normal",
        }}
      >
        <div class="inner">
          {shuffledTags
            .slice(i * tagsPerRow, i * tagsPerRow + tagsPerRow)
            .map((tag) => (
              <Tag tag={tag} />
            ))}
        </div>
      </div>
    ))
  }
</div>
