---
import "@/styles/global.css";
import Head from "./Head.astro";
import Header from "@/components/Header/Header.astro";
import Footer from "@/components/Footer/Footer.astro";
---

<html lang="en">
  <Head />
  <body>
    <div class="flex flex-col mx-auto px-8 max-w-screen-md w-full min-h-screen">
      <Header />
      <div class="grow mt-32">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
