---
import BaseLayout from "./BaseLayout.astro";
import Ztag from "../components/Blog/Ztag.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="text-stone-700 dark:text-stone-200">
    <div class="py-2">
      <div class="font-black text-3xl mb-2">
        {frontmatter.title}
      </div>
      <div class="mb-2 font-thin text-slate-500 dark:text-slate-300">
        Publish on {(frontmatter.pubDate ?? "").split("T")[0]}
      </div>
      <div class="flex gap-2 mb-2">
        {frontmatter.tags.map((tag: string) => <Ztag tag={tag} />)}
      </div>
      <div class="text-lg italic text-slate-500 dark:text-slate-300">
        {frontmatter.description}
      </div>
      <div class="h-4 border-b-2 border-dashed border-b-blue-900"></div>
    </div>
    <slot />
  </div>
</BaseLayout>
