---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="mt-4 text-slate-300" style="font-family: Hack;">
    <div class="py-2">
      <div class="font-black text-blue-300 text-3xl mb-2">
        {frontmatter.title}
      </div>
      <div class="mb-2 font-thin text-slate-400">
        Publish on {(frontmatter.date ?? "").split("T")[0]}
      </div>
      <div class="flex gap-2 text-slate-400 mb-2">
        {
          frontmatter.tags.map((tag: string) => (
            <a href={"/tags/" + tag}>#{tag}</a>
          ))
        }
      </div>
      <div class="text-lg italic brightness-95">{frontmatter.desc}</div>
      <div class="h-4 border-b-2 border-dashed border-b-blue-900"></div>
    </div>
    <slot />
  </div>
</BaseLayout>
