---

---

<div class="flex flex-col items-center">
  <input
    id="search"
    class="h-12 w-full rounded-2xl p-4 bg-slate-100 mb-10 border border-4 border-stone-600 text-stone-700 focus:border-stone-600 focus:outline-none dark:border-stone-500 dark:focus:border-stone-500"
  />
</div>
<script is:inline>
  const myButton = document.getElementById("search");
  myButton?.addEventListener("change", () => {
    console.log("Clicked!");
  });
</script>
